@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

body {
  background: hsl(210deg, 46%, 95%);
  color: hsl(217deg, 19%, 35%);
  display: grid;
  font-family: "Barlow Semi Condensed", sans-serif;
  min-height: 100vh;
  padding: 70px 24px;
  place-content: center;
}
body main {
  display: grid;
  gap: 25px;
}
body main figure {
  padding: 24px 30px 30px;
  border-radius: 8px;
  box-shadow: 29px 33px 55px -30px rgba(72, 85, 106, 0.3);
  -webkit-box-shadow: 29px 33px 55px -30px rgba(72, 85, 106, 0.3);
  -moz-box-shadow: 29px 33px 55px -30px rgba(72, 85, 106, 0.3);
}
body main figure figcaption {
  align-items: center;
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
body main figure figcaption img {
  border: 2px solid transparent;
  border-radius: 50%;
  height: auto;
  width: 32px;
}
body main figure figcaption cite {
  display: flex;
  flex-direction: column;
  font-style: normal;
}
body main figure figcaption cite em {
  color: inherit;
  font-size: 0.846rem;
  font-style: normal;
  margin-top: 2px;
  opacity: 50%;
}
body main figure h1 {
  font-size: 1.615rem;
  letter-spacing: -0.21px;
  margin-bottom: 15px;
}
body main figure blockquote {
  letter-spacing: 0.08px;
  line-height: 1.4;
  opacity: 70%;
  padding-left: 1px;
}
body main figure:first-child {
  background-color: hsl(263deg, 55%, 52%);
  color: hsl(0deg, 0%, 81%);
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position-y: top;
  background-position-x: 90%;
}
body main figure:first-child img {
  border: 2px solid hsla(0deg, 0%, 81%, 0.4);
}
body main figure:nth-child(2) {
  background-color: hsl(217deg, 19%, 35%);
  color: hsl(0deg, 0%, 100%);
}
body main figure:nth-child(3), body main figure:last-child {
  background-color: hsl(0deg, 0%, 100%);
}
body main figure:nth-child(4) {
  background-color: hsl(219deg, 29%, 14%);
  color: hsl(0deg, 0%, 100%);
}
body main figure:nth-child(4) img {
  border: 2px solid hsl(263deg, 55%, 52%);
}

@media (min-width: 600px) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
  main figure:first-child,
main figure:nth-child(4),
main figure:last-child {
    grid-column: 1/3;
  }
}
@media (min-width: 855px) {
  main {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    max-width: 1110px;
  }
  main figure:nth-child(2),
main figure:nth-child(3) {
    grid-row: 2/3;
  }
  main figure:nth-child(3) {
    grid-column: 2/3;
  }
  main figure:nth-child(4),
main figure:last-child {
    grid-row: 1/3;
  }
  main figure:nth-child(4) {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  main figure:last-child {
    grid-column: 3/5;
    grid-row: 1/2;
  }
}
@media (min-width: 1110px) {
  body main {
    gap: 30px;
    row-gap: 25px;
  }
  body main figure h1 {
    font-size: 1.6rem;
  }
  body main figure:first-child {
    background-position-x: 82%;
    grid-column: 1/3;
  }
  body main figure:nth-child(2) {
    grid-area: 1/3/2/4;
  }
  body main figure:nth-child(3) {
    grid-area: 2/1/3/2;
  }
  body main figure:nth-child(4) {
    grid-column: 2/4;
  }
  body main figure:last-child {
    grid-area: 1/4/3/5;
  }
}/*# sourceMappingURL=styles.css.map */